@media only screen and (max-width:600px){
  #page1{
    height: 62rem;
  }
  #page1 #circle2{
    top: 60%;
  }
  #page1 #circle3{
    top: 45rem;
    left: 30rem;
  }
  #header{
    height: 4rem;
  }
  #hcenter,#hright{
    display: none;
  }
  #header #hamburger{
    display: grid;
    margin-right: 4vw;
  }
  .dropdownmenu {
    z-index: 99;
    display: block;
  }
  #content{
    flex-direction: column-reverse;
    height: 52rem;
    width: 95%;
    left: 2vw;

  }
  #cleft{
    width: 100%;
    gap: 15px;
    padding: 0;
  }
  #cleft h1 #im{
    font-size: 1.7rem;
  }
  #cleft h1 #text{
    font-size: 1.7rem;
  }
  #cleft p{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #mailsend{
    gap: 10px;
    height: 100px;
    border: none;
    box-shadow: none;
    width: 100%;
    flex-direction: column;

  }
  #mailsend input{
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 10px;
    height: 55px;
  
  }
  #mailsend button{
    padding: 7px;
  }
  #cright{
    width: 100%;
  }

  /* Page 2 */
  .page2{
    height: 60rem;
    gap: 30px;
    overflow: hidden;
  }
  .page2 #circle1{
    top: 10rem;
  }
  .page2 #circle2{
    top: 30rem;
  }
  .page2 #circle3{
    display: none;
  }
  .aboutheading{
    
    height: 5rem;
  }
  .aboutheading h1{
    font-size: 60px;
  }
  .box{
    height: 52rem;
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .boxleft{
    height: 60%;
    width: 100%; 
    padding: 0;
  }
  .boxleft h1{
    padding-top: 20px;
  }
  .childboxleft{
    display: none;
  }
  .childboxright{
    display: none;
  }
  #infome{
    margin-top: 4rem;
    display: block;
    padding: 15px;
    padding-left: 5vw;
  }
  .boxleft button{
    margin-top: 5rem;
    padding: 5px 10px;
  }
  .boxright{
    width: 100%;
    height: 100%;
    margin-right: 0;
    gap: 0px;
  }
  .boxright .box1{
    height: 40%;
    width: 45%;
    margin:3px 1vw;
  }
  .box1 h1::before{
    font-size: 50px;
    top: 6%;
  }
  .box1 h2{
    font-size: 15px;
  }
  /* Page 3 */
  #page3{
    overflow: hidden;
    min-height: 66rem;
  }
  #page3 #circle1{
    top: 10rem;
  }
  #page3 #circle2{
    top: 35rem;
  }
  #page3 #circle3{
    display: none;
  }
  #myskils{
    margin-top: 2%;
  }
  #myskils h1{
    font-size: 50px;
  }
  #content-skill{
    
    background: none;
    box-shadow: none;
    width: 95%;
    height: 58rem;
    top: 54%;
  }
  .circle{
    margin: 20px 4vw 70px 3.8vw;
  }
  /* Page 4 */

  #page4{
    height: 88rem;
    overflow: hidden;
  }
  #page4 #circle1{
    top: 10rem;
  }
  #page4 #circle2{
    filter: blur(150px);
    top: 45rem;
  }
  #page4 #circle3{
    top: 65rem;
    left: 20%;
  }
  #portfolio h1{
    letter-spacing: 0px;
  }
  .projects{
    top: 53%;
    width: 22rem;
    height: 80rem;
    gap: 10px;
  }
  #project{
    height: 12rem;
    width: 20rem;

  }

  /* Page 5 */
  #page5{
    overflow: hidden;
    height: 50rem;
  }
  #page5 #circle1{
    top: 10rem;
    filter: blur(100px);
  }
  #page5 #circle2{
    top: 35rem;
  }
  #page5 #circle3{
    display: none;
  }
  #upper{
    background: none;
    box-shadow: none;
    width: 80%;
    height: 3rem;
    left: 50%;
    top: 90%;
  }
  #upper h2,#uppercontent,#ucontents{
    display: none;
  }
  #upperfollow{
    width: 100%;
    left: 0;
    top: 0%;
    height: 100%;
    font-size: 20px;
  }
  #sidebtn{
    display: none;
  }
  #inner{
    width: 95%;
    top: 50%;
    height: 32rem;
  }
  #innercontent{
    width: 100%;
    padding: 0px 5px;
    left: 0;
  }
}
@media only screen and (min-width:601px ) and (max-width:768px) {
  #page1{
    height: 60rem;
  }
  #hcenter,#hright{
    display: none;
  }
  #header #hamburger{
    display: grid;
    margin-right: 4vw;
  }
  .dropdownmenu {
    z-index: 99;
    display: block;
  }
  #content{
    flex-direction: column-reverse;
    height: 50rem;
  }
  #cleft{
  width: 100%;
  }
  #cright{
    width: 100%;
  }
  #page1 #circle2{
    top: 60%;
  }
  #page1 #circle3{
    top: 45rem;
    left: 30rem;
  }

    /* Page 2 */

  .page2{
    height: 60rem;
    gap: 30px;
  }
  .page2 #circle2{
    top: 30rem;
  }
  .page2 #circle3{
    display: none;
  }
  .aboutheading{
    height: 5rem;
  }
  .box{
    height: 52rem;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .boxleft{
    width: 100%; 
  }
  .boxright{
    width: 100%;
    height: 80%;
    gap: 5vw;
  }
  .boxright .box1{
    height: 10rem;
    width: 15rem;
  }
  .box1 h1{
    margin-left: 20px;
    margin-top: 10px;
  }
  .box1 h1::before{
    left: 45px;
    top: 10px;
  }
  .box1 h2{
    left: 85px;
  }
  .box .box1:nth-child(3){
    margin-bottom: 20px;
  }
  .box .box1:nth-child(4){
    margin-bottom: 20px;
  }

  /* Page 3 */
  #page3{
    overflow: hidden;
    height: 55rem;
  }
  #page3 #circle1{
    top: 10rem;
  }
  #page3 #circle2{
    top: 35rem;
  }
  #page3 #circle3{
    display: none;
  }
  #myskils{
    
    margin-top: 2%;
  }
  #content-skill{
    
    width: 90%;
    height: 45rem;
    top: 55%;
  }
  .circle{
    margin: 20px 2.8vw 70px 2.8vw;
  }

  /* Project 4 */
  #page4{
    height: 60rem;
  }
  #page4 #circle1{
    top: 10rem;
  }
  #page4 #circle2{
    top: 35rem;
  }
  #page4 #circle3{
    display: none;
  }
  .projects{
    top: 53%;
    width: 95%;
    height: 50rem;
    gap: 5px;
  }
  #project{
    height: 15rem;
    width: 48%;
  }
  /* Page 5 */
  #page5{
    height: 50rem;
  }
  #page5 #circle1{
    top: 10rem;
  }
  #page5 #circle2{
    top: 35rem;
  }
  #page5 #circle3{
    display: none;
  }
  #upper{
    background: none;
    box-shadow: none;
    width: 80%;
    height: 3rem;
    left: 50%;
    top: 90%;
  }
  #upper h2,#uppercontent,#ucontents{
    display: none;
  }
  #upperfollow{
    width: 100%;
    left: 0;
    top: 0%;
    height: 100%;
    font-size: 20px;
  }
  #sidebtn{
    display: none;
  }
  #inner{
    width: 80%;
    top: 50%;
  }
  #innercontent{
    width: 90%;
    left: 30px;
  }

}
@media only screen and (min-width:769px ) and (max-width:992px) {
  #page1{
    overflow: hidden;
    height:38rem;
  }
  #cleft{
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }
  #cleft h1 #im{
    font-size: 4.5vw;
  }
  #cleft h1 #text{
    font-size: 4.3vw;
  }
  #cleft p{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #mailsend{
    width: 22rem;
  }

  /* Page 2 */
  .aboutheading{
    height: 5rem;
  }
  .box{
    width: 95%;
    height: 32rem;
  }
  .boxright{
    width: 50%;
    margin-right: 0px;
  }
  .boxleft button{
    margin-top: 40px;
  }
  .box1 h1::before{
    left:5px;
  }
  /* Page 3 */
  #page3{
    overflow: hidden;
  }
  #content-skill{
    width: 95%;
  }
  .circle{
    margin: 10px 2.5vw 70px 2.5vw;
  }

  /* Page 4 */
  .projects{
    width: 98%;
  }
  /* Page 5 */
  #inner{
    width: 75%;
    left: 60%;
  }
  #upper{
    left: 25%;
  }
  #sidebtn{
    display: none;
  }

}
@media only screen and (min-width:993px) and (max-width:1200px) {
  #page1{
    height:38rem;
  }
  #content{
    width: 75%;
    margin-left: 7vw;
    margin-right: 7vw;
  }
  #cleft{
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }
  #cleft h1 #im{
    font-size: 4vw;
  }
  #cleft h1 #text{
    font-size: 4vw;
  }
  #cleft p{
    margin-left: 2vw;
    margin-right: 2vw;
  }
  #mailsend{
    width: 22rem;
  }
  /* Page 2 */
  .aboutheading{
    top: -10rem;
    height: 5rem;
  }
  .box{
    width: 85%;
  }
  .boxleft button{
    margin-top: 10px;
  }
  .boxright{
    margin-right: 20px;
  }
  .box1 h1::before{
    left:5px;
  }
  .box1 h2{
    left: 45px;
    font-size: 17px;
  }

  #content-skill{
    width: 85%;
  }
  .circle{
    margin:10px 35px 70px 35px;
  }
  .projects{
    width: 85%;
  }
  /* Page 5 */
  #inner{
    width: 40rem;
  }
  #upper{
    left: 22%;
  }
}
@media only screen and (min-width:1201px) and (max-width:1500px){

  #content{
    width: 75%;
    margin-left: 7vw;
    margin-right: 7vw;
  }
  /* Page 2 */
  
  .aboutheading{
    top: -10rem;
    height: 5rem;
  }
  .box{
    width: 80%;
  }

  /* Pgae 3 */
  #page3{
    overflow: hidden;
  }
  #myskils{
    top: -10rem;
    height: 4rem;
  }
  .circle{
    margin:10px 3.5vw 70px 3.5vw;
  }
}
